* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

#titulo {
    padding-left: 5%;
    font-size: 400%;
    padding-bottom: 2%;
    color: #FAEBBC;
}

#titulo h2 {
    font-size: 30px;
    color: #FAEBBC;
}

p{
    color: white;
    font-size: 23px;
}

h2 {
    color: white;
}

#foto {
    display: flex;
    align-items: center;
    text-align: center;
}


header {
    padding-bottom: 2%;
}

body {
    background-color: #0a0808;
}

#contenedor_titulo {
    margin: 15px;
    background-color: rgb(192, 37, 20);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

menu {
    width: 100%;
    height: 98px;
    overflow: hidden;
    position: sticky;
    top: 0;


}

.interior {
    max-width: 100%;
    padding: 1px;
    background-color: rgb(192, 37, 20);
    border-radius: 90px;
    margin: 15px;
}

.navegacion {
    justify-content: center;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 100%;

}


.navegacion ul {
    list-style: none;
    padding: 0 10px;

}

.navegacion ul li {
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;

}

.navegacion ul li:hover {
    transform: scale(1.1);
}

.navegacion ul li a {
    color: rgb(255, 255, 253);
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
}

/* carrusel */
#slider {
    margin: 0 auto;
    width: 800px;
    height: 500px;
    overflow: hidden;
    background-color: #F4C33E;
}

/*Valores de las imagenes*/
#slider img {
    margin: 0 auto;
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
    width: 800px;
    height: 500px;
    position: absolute;
    opacity: 0;
}

/*Para que la primera imagen este activa al inicio*/

#productos_title {
    margin-top: 10px;
    font-size: 90px;
}


.compras img {
    width: 300px;
    margin: 15px;
    border-radius: 30px;
}

.titulo_producto {
    text-align: center;
    margin: 2px;
    margin-top: 15px;
    font-size: 30px;

}

.talle {
    font-size: 14px;
    color: white;
    padding-left: 20px;
}

.precio {
    font-size: 20px;
    color: white;
    padding-left: 20px;
}


article {
    display: inline-block;
    padding: 10px;
    border: 3px solid white;
    border-radius: 50px;
    margin: 15px;
    background-color: rgb(216, 40, 21);
}

.compras {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

#play {
    transition-property: background-color;
    transition-duration: 3s;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}

h3 {
    color: white;
}

.img_compra{
    border-radius: 30px;
    height: 500px;
}

.cuadrante_der{
    display: inline-block;
    border: 3px solid rgb(82, 82, 82);
    border-radius: 30px;
    padding: 50px;
    margin: 15px;
    text-align: left;
}

.cuadrante_izq{
    display: inline-block;
    margin: 15px;
    border: 3px solid rgb(82, 82, 82);
    border-radius: 30px;
    padding: 50px;
}

.titulo_producto{
    max-width: 100%;
    padding: 10px;
    background-color: rgb(192, 37, 20);
    border-radius: 90px;
}

.contenedor_cuadrantes{
    text-align: center;
    display: flex;
}

.lista_talles{
    margin: 20px;
    margin-left: 5px;
}

.lista_talles li{
    display: inline-block;
    padding: 6px;
    color: rgb(175, 175, 175);
    border: 1px solid rgb(82, 82, 82);
    border-radius: 30px;
    margin:2px ;
    

}

.boton_comprar{
    color: white;
    max-width: 100%;
    padding: 10px;
    background-color: rgb(192, 37, 20);
    border-radius: 90px;
    font-size: 46px;
}

.descripcion_producto{
    margin-top: 17px;
}